
.board { position: relative; font-size: 300%; }

pawn, knight, bishop, rook, queen, king { 
    width                      : 1em; 
    height                     : 1em; 
    padding-left               : 0.1em; 
    position                   : absolute; 
    line-height                : 125%; 
    z-index                    : 4; 
    transition-property        : left, top;
    transition-duration        : 1s;
    transition-timing-function : ease-in-out;
    transition-delay           : 0;
}


[color=white] { color: white; }
[color=black] { color: black; }

pawn:before   { content: '\265f'; }
knight:before { content: '\265e'; }
bishop:before { content: '\265d'; }
rook:before   { content: '\265c'; }
queen:before  { content: '\265b'; }
king:before   { content: '\265a'; }

[rank=A] { left: 0;     }
[rank=B] { left: 1.2em; }
[rank=C] { left: 2.4em; }
[rank=D] { left: 3.6em; }
[rank=E] { left: 4.8em; }
[rank=F] { left: 6em;   }
[rank=G] { left: 7.2em; }
[rank=H] { left: 8.4em; }

[file='8'] { top: 0;     }
[file='7'] { top: 1.2em; }
[file='6'] { top: 2.4em; }
[file='5'] { top: 3.6em; }
[file='4'] { top: 4.8em; }
[file='3'] { top: 6em;   }
[file='2'] { top: 7.2em; }
[file='1'] { top: 8.4em; }

board { display: table; }
bfile { display: table-row; }
sq    { display: table-cell; height: 1.2em; width: 1.2em; background-color: #ffce9e; }

bfile:nth-child(even) sq:nth-child(odd), bfile:nth-child(odd) sq:nth-child(even) { background-color: #d18b47; }

input    { width: 1em; text-align: center; }
input#pm { width: 2em; }
